registry=https://registry.npmjs.org/
//artifactory.digital.homeoffice.gov.uk/artifactory/api/npm/npm-registry-remote/:username=${NPM_AUTH_USERNAME}
//artifactory.digital.homeoffice.gov.uk/artifactory/api/npm/npm-registry-remote/:_password=${NPM_AUTH_TOKEN}
//artifactory.digital.homeoffice.gov.uk/artifactory/api/npm/npm-registry-remote/:email=test@example.com
