*.class
*.log
.~*
.#*
*.DS_Store

# sbt specific
.sbtopts
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
notebooks/*.csv

# Scala-IDE specific
.scala_dependencies
.worksheet
.cache*
.settings
.project
.classpath
*/bin

# IntelliJ IDEA
.idea
*.iml
out
*.sc

# GitBook
doc/_book
/_book
node_modules/
*.log.zip

client/src/main/resources/bundle.js
client/yarn.lock

project/

.ensime_cache/
runsbt.sh

# Cypress
e2e/cypress/fixtures/example.json
e2e/cypress/videos/*
e2e/cypress/screenshots/*
