<configuration>
    <variable name="ENV_LOG_LEVEL" value="${ENV_LOG_LEVEL:-INFO}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <if condition='isDefined("NO_JSON_LOGGING")'>
            <then>
                <encoder>
                    <pattern>[%date{ISO8601}] [%level] [%logger] [%thread] [%X{akkaSource}] - %msg%n</pattern>
                </encoder>
            </then>
            <else>
                <!-- encoders are assigned the type
                     ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
                <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                    <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                        <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSX</timestampFormat>
                        <timestampFormatTimezoneId>Etc/UTC</timestampFormatTimezoneId>
                        <includeThreadName>false</includeThreadName>
                        <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter"/>
                        <appendLineSeparator>true</appendLineSeparator>
                    </layout>
                </encoder>
            </else>
        </if>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="STDOUT"/>
    </appender>

    <root level="${ENV_LOG_LEVEL}">
        <appender-ref ref="ASYNC"/>
    </root>

    <logger level="WARN" name="org.apache.commons.vfs2">
        <appender-ref ref="ASYNC"/>
    </logger>

    <logger level="WARN" name="breeze.optimize">
        <appender-ref ref="ASYNC"/>
    </logger>

    <logger name="slick.jdbc.JdbcBackend.statement" level="${SLICK_DEBUG_LEVEL:-WARN}">
        <appender-ref ref="ASYNC"/>
    </logger>

    <logger name="net.schmizz.sshj" level="INFO">
        <appender-ref ref="ASYNC"/>
    </logger>
</configuration>
