@import "ourbootstrap.less";
@import "lib/font-awesome/less/font-awesome.less";
@import "popover-styles.less";


// Condensed table w/ half padding

.table-xcondensed {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: @table-condensed-cell-padding / 2;
      }
    }
  }
}

.desk-rec-input {
  width: 4em;
}

div.scrollable-table-body {
  overflow: scroll;
}

div.user-desk-recs-container table.table > tbody > tr > td,
div.user-desk-recs-container table.table > tbody > tr > th,
table.table.user-desk-recs > tbody > tr > td,
table.table.user-desk-recs > tbody > tr > th {
  padding-right: 0.25em;
  padding: 0.25em;
}

div.user-desk-recs-container table.table > tbody > tr > td,
table.user-desk-recs > tbody > tr > td,
table.user-desk-recs > tbody > tr > td > input {
  text-align: right;
}

table.user-desk-recs thead tr th h3 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

table.user-desk-recs thead tr {
  border-bottom: #000;
}

div.user-desk-recs-container table.table > tbody > tr > td.date-field,
table.user-desk-recs > tbody > tr > td.date-field {
  text-align: left;
}

table.user-desk-recs {
  thead th:nth-child(1) {
    width: 180px;
  }

  tbody td:nth-child(1) {
    width: 180px;
  }
}



table.user-desk-recs tbody td, table.user-desk-recs thead th {
  width: 80px;
}

table.user-desk-recs > tbody > tr > td > input:focus {
  text-align: left;
}

div.user-desk-recs-container {
  width: 40%;
  margin-right: 2em;
  float: left;
}

div.user-desk-recs-chart {
  margin-top: 2em;
}

div.user-desk-recs-container table.table > tbody > tr > th, table.user-desk-recs > tbody > tr > th {
  text-align: center;
}

div.panel-body > div.user-desk-recs-container > div > table > tbody > tr > td.date-field > div > div > div > div {
  width: 300%;
}

rect.bordered {
  stroke: #E6E6E6;
  stroke-width: 2px;
}

@media (min-width: 1200px) {
  .container {
    width: 96%;
  }
}

//@import "~elemental/less/elemental.less";

// Site Explicit Variables
// ------------------------------

// navigation

@nav-brand-size: 32px;
@navbar-height: 50px;
@code-border-color: black;
@code-bg-color: black;
@font-size-sm: @font-size-small;

// code

@inline-code-color: @gray;
@inline-code-bg: fade(@inline-code-color, 7%);

// Type
// ------------------------------

@eeaDeskUserDeskColor: #d5e8f3;
@nonEeaDeskUserDeskColor: #cce0d6;
@eGateUserDeskColor: #f7f0e2;
@totalDeployedColor: #eeeff0;

.total-deployed {
  background-color: @totalDeployedColor;
}

tr:nth-child(odd) > td.total-deployed {
  background-color: darken(@totalDeployedColor, 8%);
}

.eeaDesk-user-desk-rec {
  background-color: @eeaDeskUserDeskColor;
}

tr:nth-child(odd) > td.eeaDesk-user-desk-rec {
  background-color: darken(@eeaDeskUserDeskColor, 8%);
}

.eeaDesk-user-desk-rec.table-info {
  background-color: lighten(@eeaDeskUserDeskColor, 6%);
}

.nonEeaDesk-user-desk-rec {
  background-color: @nonEeaDeskUserDeskColor;
}

tr:nth-child(odd) > td.nonEeaDesk-user-desk-rec {
  background-color: darken(@nonEeaDeskUserDeskColor, 8%);
}

.nonEeaDesk-user-desk-rec.table-info {
  background-color: lighten(@nonEeaDeskUserDeskColor, 6%);
}

.eGate-user-desk-rec {
  background-color: @eGateUserDeskColor;
}

tr:nth-child(odd) > td.eGate-user-desk-rec {
  background-color: darken(@eGateUserDeskColor, 8%);
}

.eGate-user-desk-rec.table-info {
  background-color: lighten(@eGateUserDeskColor, 6%);
}

p {
  margin-bottom: 1em;
  margin-top: 0;
}

//h2 {
//  margin-top: 3em;
//}

//h2 + .lead {
//  margin-top: 0;
//}
//
//h3 {
//  margin-top: 3em;
//}

// Usage table

.usage-table {
  min-height: 1px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  td, th {
    line-height: 1.4;
    vertical-align: top;
  }
}

// cell types
.usage-table__prop {
  color: #266d90;
  font-family: @font-family-monospace;
  font-size: 90%;
}

.usage-table__type,
.usage-table__default {
  color: @gray-light;
  font-family: @font-family-monospace;
  font-size: 90%;
}

.usage-table__type {
  color: #bf2a5c;
  // color: darken(@app-primary, 15%);
}

.usage-table__description {
  min-width: 200px;
}

.terminal-desk-recs-container {
  height: 800px;
  //overflow: scroll;
}

.user-desk-recs-container {
  height: 400px;
  overflow: scroll;
}

table.user-desk-recs tbody tr td.table-info {
  background-color: @alert-info-bg;
}

table.user-desk-recs tbody tr:nth-child(odd) td.table-info {
  background-color: darken(@alert-info-bg, 1%);
}

table.user-desk-recs tbody tr td.table-danger {
  background-color: @alert-danger-bg;
}

table.user-desk-recs tbody tr:nth-child(odd) > td.table-danger{
  background-color: darken(@alert-danger-bg, 1%);
}

.minutes {
  text-align: right;
}

th h2 {
  margin-top: 0.5em;
}

.staffing-editor {
  width: 400px;
  height: 300px;
}
