@import "ourbootstrap.less";
@import "lib/font-awesome/less/font-awesome.less";
@import "popover-styles.less";

.desk-rec-input {
  width: 4em;
}

div.user-desk-recs-container table.table > tbody > tr > td,
div.user-desk-recs-container table.table > tbody > tr > th,
table.table.user-desk-recs > tbody > tr > td,
table.table.user-desk-recs > tbody > tr > th {
  padding-right: 0.25em;
  padding: 0.25em;
}

div.user-desk-recs-container table.table > tbody > tr > td,
table.user-desk-recs > tbody > tr > td,
table.user-desk-recs > tbody > tr > td > input {
  text-align: right;
}

div.user-desk-recs-container table.table > tbody > tr > td.date-field,
table.user-desk-recs > tbody > tr > td.date-field {
  text-align: left;
}

table.user-desk-recs > tbody > tr > td > input:focus {
  text-align: left;
}

div.user-desk-recs-container {
  width: 40%;
  margin-right: 2em;
  float: left;
}

div.user-desk-recs-chart {
  margin-top: 2em;
}

div.user-desk-recs-container table.table > tbody > tr > th, table.user-desk-recs > tbody > tr > th {
  text-align: center;
}

div.panel-body > div.user-desk-recs-container > div > table > tbody > tr > td.date-field > div > div > div > div {
  width: 300%;
}

@media (min-width: 1200px) {
  .container {
    width: 96%;
  }
}

//@import "~elemental/less/elemental.less";

// Site Explicit Variables
// ------------------------------

// navigation

@nav-brand-size: 32px;
@navbar-height: 50px;
@code-border-color: black;
@code-bg-color: black;
@font-size-sm: @font-size-small;

// code

@inline-code-color: @gray;
@inline-code-bg: fade(@inline-code-color, 7%);

// Type
// ------------------------------

@eeaDeskUserDeskColor: #d5e8f3;
@nonEeaDeskUserDeskColor: #cce0d6;
@eGateUserDeskColor: #f7f0e2;

.eeaDesk-user-desk-rec {
  background-color: @eeaDeskUserDeskColor;
}

.eeaDesk-user-desk-rec.table-info {
  background-color: lighten(@eeaDeskUserDeskColor, 6%);
}

.nonEeaDesk-user-desk-rec {
  background-color: @nonEeaDeskUserDeskColor;
}

.nonEeaDesk-user-desk-rec.table-info {
  background-color: lighten(@nonEeaDeskUserDeskColor, 6%);
}

.eGate-user-desk-rec {
  background-color: @eGateUserDeskColor;
}

.eGate-user-desk-rec.table-info {
  background-color: lighten(@eGateUserDeskColor, 6%);
}

p {
  margin-bottom: 1em;
  margin-top: 0;
}

//h2 {
//  margin-top: 3em;
//}

//h2 + .lead {
//  margin-top: 0;
//}
//
//h3 {
//  margin-top: 3em;
//}

// Usage table

.usage-table {
  min-height: 1px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  td, th {
    line-height: 1.4;
    vertical-align: top;
  }
}

// cell types
.usage-table__prop {
  color: #266d90;
  font-family: @font-family-monospace;
  font-size: 90%;
}

.usage-table__type,
.usage-table__default {
  color: @gray-light;
  font-family: @font-family-monospace;
  font-size: 90%;
}

.usage-table__type {
  color: #bf2a5c;
  // color: darken(@app-primary, 15%);
}

.usage-table__description {
  min-width: 200px;
}

.user-desk-recs-container {
  height: 400px;
  overflow: scroll;
}

tr.table-warning td {
  background-color: @alert-warning-bg;
}

td.table-info {
  background-color: @alert-info-bg;
}

td.table-danger {
  background-color: @alert-danger-bg;
}

tr.table-warning td.table-danger {
  background-color: @alert-danger-bg;
}

.minutes {
  text-align: right;
}

th h2 {
  margin-top: 0.5em;
}
