@import "ourbootstrap.less";
@import "lib/font-awesome/less/font-awesome.less";
@import "popover-styles.less";
@import "popover-styles-staff-movement.less";

// Condensed table w/ half padding

.popover.flights-popover .popover__content > tr td {
  color: #000;
}

.table-xcondensed {
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: @table-condensed-cell-padding / 2;
      }
    }
  }
}

@dotDiameter: 24px;


.hasChanged {
  background-color: red;
}
.timeline-column {
  width: 324px;
  height: @dotDiameter;
}

.timeline-container {
  width: 300px;
  height: @dotDiameter;
  position: relative;
  background-color: darkgray;
  border-bottom-left-radius: @dotDiameter/2;
  border-top-left-radius: @dotDiameter/2;
  border-bottom-right-radius: @dotDiameter/2;
  border-top-right-radius: @dotDiameter/2;
}

.timeline-container:hover {
  opacity: 0.8;
}

.dot {
  height: @dotDiameter;
  width: @dotDiameter;
  border-radius: @dotDiameter/2;
  background-color: #5c5c5c;
  position: absolute;
  display: inline;
  opacity: 0.9;
}

.dot:hover {
  opacity: 1;
}

@actDotColor: #2854f2;

.act-dot.early {
  background-color: @actDotColor;
}

.act-dot.late {
  background-color: @actDotColor;
}

.est-dot {
  background-color: #647a87;
}

.act-chox-dot {
  background-color: lighten(@actDotColor, 10%);
}

.desk-rec-input {
  width: 4em;
}

div.scrollable-table-body {
  overflow: scroll;
}

div.user-desk-recs-container table.table > tbody > tr > td,
div.user-desk-recs-container table.table > tbody > tr > th,
table.table.user-desk-recs > tbody > tr > td,
table.table.user-desk-recs > tbody > tr > th {
  padding-right: 0.25em;
  padding: 0.25em;
}

div.user-desk-recs-container table.table > tbody > tr > td,
table.user-desk-recs > tbody > tr > td,
table.user-desk-recs > tbody > tr > td > input {
  text-align: right;
}

table.user-desk-recs thead tr th h3 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

table.user-desk-recs thead tr {
  border-bottom: #000;
}

div.user-desk-recs-container table.table > tbody > tr > td.date-field,
table.user-desk-recs > tbody > tr > td.date-field {
  text-align: left;
}

table.user-desk-recs.cols-2, table.user-desk-recs.cols-3, table.user-desk-recs.cols-4 {
  thead th:nth-child(1) {
    width: 180px;
  }

  tbody td:nth-child(1) {
    width: 180px;
  }
}

table.user-desk-recs.cols-4 {
  thead th:nth-last-child(-n+2) {
    width: 66px;
  }

  tbody td:nth-last-child(-n+2) {
    width: 66px;
  }
}

table.user-desk-recs.cols-3 {
  thead th:nth-last-child(1) {
    width: 88px;
  }

  tbody td:nth-last-child(1) {
    width: 88px;
  }

  thead th:nth-last-child(2) {
    width: 89px;
  }

  tbody td:nth-last-child(2) {
    width: 89px;
  }
}

table.user-desk-recs.cols-4 tbody td, table.user-desk-recs.cols-4 thead th {
  width: 69px;
}

table.user-desk-recs.cols-3 tbody td, table.user-desk-recs.cols-3 thead th {
  width: 87px;
}

table.user-desk-recs.cols-2 tbody td, table.user-desk-recs.cols-2 thead th {
  width: 120px;
}

table.user-desk-recs > tbody > tr > td > input:focus {
  text-align: left;
}

div.user-desk-recs-container {
  width: 40%;
  margin-right: 2em;
  float: left;
}

div.user-desk-recs-chart {
  margin-top: 2em;
}

div.user-desk-recs-container table.table > tbody > tr > th, table.user-desk-recs > tbody > tr > th {
  text-align: center;
}

div.panel-body > div.user-desk-recs-container > div > table > tbody > tr > td.date-field > div > div > div > div {
  width: 300%;
}

rect.bordered {
  stroke: #E6E6E6;
  stroke-width: 2px;
}

@media (min-width: 1200px) {
  .container {
    width: 96%;
  }
}

//@import "~elemental/less/elemental.less";

// Site Explicit Variables
// ------------------------------

// navigation

@nav-brand-size: 32px;
@navbar-height: 50px;
@code-border-color: black;
@code-bg-color: black;
@font-size-sm: @font-size-small;

// code

@inline-code-color: @gray;
@inline-code-bg: fade(@inline-code-color, 7%);

//Terminal page queue column colours
@eeaDeskUserDeskColor: #d5e8f3;
@nonEeaDeskUserDeskColor: #cce0d6;
@eGateUserDeskColor: #f7f0e2;
@fastTrackUserDeskColor: #e7cee6;
@totalDeployedColor: #eeeff0;
@amberColor: #FFEEBB;
@redColor: #FFCCCC;

th.total-deployed {
  background-color: @totalDeployedColor;
}

.total-deployed {
  background-color: @totalDeployedColor;
}

.amber {
  background-color: @alert-warning-bg;
}

tr:nth-child(odd) > td.total-deployed.amber {
  background-color: darken(@alert-warning-bg, 8%);
}

.red {
  background-color: @alert-danger-bg;
}

tr:nth-child(odd) > td.total-deployed.red {
  background-color: darken(@alert-danger-bg, 8%);
}

tr:nth-child(odd) > td.total-deployed {
  background-color: darken(@totalDeployedColor, 8%);
}

.eeaDesk-user-desk-rec {
  background-color: @eeaDeskUserDeskColor;
}

tr:nth-child(odd) > td.eeaDesk-user-desk-rec {
  background-color: darken(@eeaDeskUserDeskColor, 8%);
}

tr:nth-child(odd) > td.eeaDesk-user-desk-rec.table-info {
  background-color: darken(@eeaDeskUserDeskColor, 2%);
}

.eeaDesk-user-desk-rec.table-info {
  background-color: lighten(@eeaDeskUserDeskColor, 6%);
}

.nonEeaDesk-user-desk-rec {
  background-color: @nonEeaDeskUserDeskColor;
}

.fastTrack-user-desk-rec {
  background-color: @fastTrackUserDeskColor;
}

tr:nth-child(odd) > td.nonEeaDesk-user-desk-rec {
  background-color: darken(@nonEeaDeskUserDeskColor, 8%);
}

tr:nth-child(odd) > td.nonEeaDesk-user-desk-rec.table-info {
  background-color: darken(@nonEeaDeskUserDeskColor, 2%);
}

.nonEeaDesk-user-desk-rec.table-info {
  background-color: lighten(@nonEeaDeskUserDeskColor, 6%);
}

.fastTrack-user-desk-rec.table-info {
  background-color: lighten(@fastTrackUserDeskColor, 6%);
}

.eGate-user-desk-rec {
  background-color: @eGateUserDeskColor;
}

tr:nth-child(odd) > td.eGate-user-desk-rec {
  background-color: darken(@eGateUserDeskColor, 8%);
}

tr:nth-child(odd) > td.eGate-user-desk-rec.table-info {
  background-color: darken(@eGateUserDeskColor, 2%);
}

tr:nth-child(odd) > td.fastTrack-user-desk-rec {
  background-color: darken(@fastTrackUserDeskColor, 8%);
}

tr:nth-child(odd) > td.fastTrack-user-desk-rec.table-info {
  background-color: darken(@fastTrackUserDeskColor, 2%);
}

.eGate-user-desk-rec.table-info {
  background-color: lighten(@eGateUserDeskColor, 6%);
}

p {
  margin-bottom: 1em;
  margin-top: 0;
}

//h2 {
//  margin-top: 3em;
//}

//h2 + .lead {
//  margin-top: 0;
//}
//
//h3 {
//  margin-top: 3em;
//}

// Usage table

.usage-table {
  min-height: 1px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  td, th {
    line-height: 1.4;
    vertical-align: top;
  }
}

// cell types
.usage-table__prop {
  color: #266d90;
  font-family: @font-family-monospace;
  font-size: 90%;
}

.usage-table__type,
.usage-table__default {
  color: @gray-light;
  font-family: @font-family-monospace;
  font-size: 90%;
}

.usage-table__type {
  color: #bf2a5c;
  // color: darken(@app-primary, 15%);
}

.usage-table__description {
  min-width: 200px;
}

.terminal-desk-recs-container {
  height: 800px;
  width: 1155px;
}

.user-desk-recs-container {
  height: 400px;
  overflow: scroll;
}

table.user-desk-recs tbody tr td.table-danger {
  background-color: @alert-danger-bg;
}

table.user-desk-recs tbody tr:nth-child(odd) > td.table-danger {
  background-color: darken(@alert-danger-bg, 1%);
}

.minutes {
  text-align: right;
}

th h2 {
  margin-top: 0.5em;
}

.staffing-editor {
  width: 100%;
  height: 200px;
}

.pax-cell {
  position: relative;
  width: 100%;
  display: inline-block;
  color: black;
  font-weight: 400;
  text-shadow: 0px 0px 4px white;

}

@pax-bar-height: 20px;

@reliability-low: #ff9999;
@reliability-medium: #ffeeaa;
@reliability-high: rgba(119, 255, 119, 0.5);

.pax-bar {
  height: @pax-bar-height;
}

.pax-maxpax {
  background-color: @reliability-low;
  .pax-bar
}

.pax-portfeed {
  background-color: @reliability-medium;
  .pax-bar
}

.pax-api {
  background-color: @reliability-high;
  .pax-bar
}

.pax-capacity {
  height: 0px;
  border-bottom: solid 1px #9c9c9c;
}

.pax {
  position:absolute;
  top: 0;
  left: 0;
}

/* summary-boxes */
.summary-box {
  background-color: #dddddd;
  display: inline-block;
  margin-left: 5px;
}

.summary-box-count {
  font-size: 40pt;
  font-weight: bold;
}


.splitsource-historical {
  background: @reliability-medium;
}

.splitsource-apisplitswithhistoricalegatepercentage {
  background: @reliability-high;
}

.splits {
  width: 140px;
  position: relative;
  height: 28px;
  display: inline-block;
}

.splits .graph {
  width: 106px;
  height: 28px;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.splits .graph .bar {
  width: 15px;
  margin: 1px;
  display: inline-block;
  position: relative;
  background-color: rgba(140, 140, 145, 1);
  vertical-align: baseline;
}

#arrivals tbody:nth-child(odd) {
  background-color: #00bcd4;
}

#arrivals tbody:nth-child(odd) tr {
  background-color: #00bcd4;
}
